width: 1080px;
height: 1080px;
flex-shrink: 0;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
width: 334px;
height: 111px;
flex-shrink: 0;

color: #1F0A29;
font-family: "Jolly Lodger";
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 334px;

color: #000;
font-family: "Jolly Lodger";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #FFF;
font-family: "Jolly Lodger";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 148px;
height: 50px;
flex-shrink: 0;

fill: #91095B;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
backdrop-filter: blur(2px);

<svg xmlns="http://www.w3.org/2000/svg" width="148" height="50" viewBox="0 0 148 50" fill="none">
  <g filter="url(#filter0_bi_14_44)">
    <path d="M0 25C0 11.1929 11.1929 0 25 0H123C136.807 0 148 11.1929 148 25C148 38.8071 136.807 50 123 50H25C11.1929 50 0 38.8071 0 25Z" fill="#91095B"/>
  </g>
  <defs>
    <filter id="filter0_bi_14_44" x="-4" y="-4" width="156" height="58" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feGaussianBlur in="BackgroundImageFix" stdDeviation="2"/>
      <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_14_44"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_14_44" result="shape"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="shape" result="effect2_innerShadow_14_44"/>
    </filter>
  </defs>
</svg>
